<h1>To je domaÄa stran</h1>

<%= form_tag(change_background_path, method: :post) do %>
  <%= select_tag :color, options_for_select(["White", "LightGray", "SkyBlue", "LightGreen", "LightPink"])
 %>
  <%= submit_tag "Change Background" %>
<% end %>

