<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/">DomaÄa stran</a>
  <a class="nav-link" href="/galerija">Galerija</a>
  <a class="nav-link" href="/registracija">Registracija</a>
</nav>