/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    padding: 20px; 
    margin: 0; 
  }

  .navbar-nav > .nav-item{
    padding-left:30px;
    padding-right:30px;
  }

  div.form
  {
      display: block;
      text-align: center;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }
  
  .form-control {
    max-width: 400px; 
  }


  
  .gallery .col {
    flex: 0 0 20%; /* 20% širine stolpca, da je prostor za 5 stolpcev v vrstici */
    max-width: 20%; /* Omeji največjo širino stolpca na 20% */
    max-height: 300px; /* Omeji največjo višino stolpca na 300px */
  }
  
  .gallery .col img {
    max-width: 100%; /* Omeji največjo širino slike na 100% širine stolpca */
    max-height: calc(100% - 4em); /* Omeji največjo višino slike na višino stolpca minus 2em za besedilne elemente */
    object-fit: cover; /* Prilagodi velikost slike tako, da pokrije celoten prostor, ne da bi izgubili razmerje stranic */
  }
  
  .gallery .col p {
    max-width: 100%; /* Omeji največjo širino besedilnega elementa na 100% širine stolpca */
    overflow: hidden; /* Skrij presežek besedila, če je večje od določene višine */
    text-overflow: ellipsis; /* Dodaj tri pike, če je besedilo preseženo */
    white-space: nowrap; /* Prepreči prelom besedila */
  }
  
  
  
  
