<h1>To je galerija naloženih slik</h1>
<br>
<div class="gallery">
  <% @slike.each_slice(5) do |slike_v_vrstici| %>
    <div class="row">
      <% slike_v_vrstici.each do |slika| %>
        <div class="col">
          <%= image_tag slika.image, class: "image" %>
          <p>Naziv: <%= slika.name %></p> 
          <p>Naložil: <%= link_to slika.user.email, posta_path(email: slika.user.email), class: "btn btn-primary" %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
